In [6]:
import pandas as pd
df=pd.read_csv(r"C:\Users\LINGESH A\OneDrive\Desktop\py\top_hashtags_2025.csv")
print(df.columns)

Index(['platform', 'hashtag', 'n_videos', 'views', 'likes', 'comments',
       'shares', 'saves', 'avg_er', 'avg_engagement_velocity',
       'avg_comment_ratio', 'avg_share_rate', 'avg_save_rate',
       'avg_like_dislike_ratio', 'avg_engagement_per_1k', 'avg_like_rate',
       'avg_dislike_rate', 'total_engagements'],
      dtype='object')

In [8]:
print(df.shape)

(82, 18)

#### These are the column attributes in the dataset

In [25]:
most_hashtags=df["hashtag"].value_counts()
most_hashtags

hashtag
#FYP               2
#GRWM              2
#Comedy            2
#Lifestyle         2
#Relatable         2
#DanceChallenge    2
#MorningRoutine    2
#Music             2
#Cover             2
#Dance             2
#OOTD              2
#AI                2
#Sports            2
#Motivation        2
#Tech              2
#BookTok           2
#DogTok            2
#Fashion           2
#LearnOnTikTok     2
#StudyWithMe       2
#Foodie            2
#Travel            2
#Wanderlust        2
#HiddenGems        2
#CatTok            2
#Football          2
#Coding            2
#Workout           2
#GameClip          2
#StreetFood        2
#Pets              2
#Recipe            2
#Gaming            2
#Makeup            2
#Esports           2
#Beauty            2
#Streamer          2
#Skincare          2
#LifeHacks         2
#Crafts            2
#DIY               2
Name: count, dtype: int64

#### This shows that all hashtags are being evenly distributed. Now we need to look into the number of views to know which creates popular videos

In [12]:
print(df["views"].max())

734064265

In [13]:
print(df["views"].min())

2435911

#### This shows the maximum and minimum view count in the dataset

In [11]:
tophash=df.sort_values(by="views", ascending=False)
tophash[["hashtag","views"]]

       hashtag      views
0         #FYP  734064265
41        #FYP  490980894
1        #GRWM  111331419
2      #Comedy   79538424
3   #Lifestyle   78531438
..         ...        ...
38  #LifeHacks    4270592
39     #Crafts    4158296
40        #DIY    3898721
80        #DIY    2760492
81  #LifeHacks    2435911

[82 rows x 2 columns]

In [26]:
tophash[["hashtag","views"]].drop_duplicates(subset=["hashtag"])

            hashtag      views
0              #FYP  734064265
1             #GRWM  111331419
2           #Comedy   79538424
3        #Lifestyle   78531438
4        #Relatable   76879158
5   #DanceChallenge   76788504
6   #MorningRoutine   75054798
7            #Music   73072381
8            #Cover   70097940
9            #Dance   68980009
10            #OOTD   64603342
11              #AI   63904603
12          #Sports   63404095
13      #Motivation   60533486
14            #Tech   60239255
15         #BookTok   59852886
16          #DogTok   59353001
17         #Fashion   58864171
18   #LearnOnTikTok   58452776
19     #StudyWithMe   57948481
20          #Foodie   57268288
21          #Travel   55858848
22      #Wanderlust   55672009
23      #HiddenGems   53939192
24          #CatTok   53894975
25        #Football   53726613
26          #Coding   53078571
27         #Workout   52895916
28        #GameClip   52404130
29      #StreetFood   52355879
30            #Pets   51620805
31          #Recipe   51282866
32          #Gaming   50730351
33          #Makeup   48606684
34         #Esports   45489512
35          #Beauty   44865138
36        #Streamer   39178004
37        #Skincare   39014438
79          #Crafts    4348818
38       #LifeHacks    4270592
40             #DIY    3898721

#### This shows the top hashtags with more views in YouTube and TikTok

In [13]:
df.groupby("hashtag")["likes"].mean()

hashtag
#AI                 2983772.5
#Beauty             2068881.0
#BookTok            2861700.0
#CatTok             2632237.0
#Coding             2635742.0
#Comedy             3780578.0
#Cover              3427660.5
#Crafts              230153.0
#DIY                 177806.5
#Dance              3531113.5
#DanceChallenge     3585932.0
#DogTok             2813133.5
#Esports            2221719.0
#FYP               35204071.5
#Fashion            2781766.0
#Foodie             2684837.0
#Football           2839858.0
#GRWM               5097642.0
#GameClip           2570420.5
#Gaming             2306177.5
#HiddenGems         2600835.0
#LearnOnTikTok      2758399.5
#LifeHacks           209629.0
#Lifestyle          3665840.5
#Makeup             2368116.0
#MorningRoutine     3497703.5
#Motivation         2743032.5
#Music              3724578.5
#OOTD               2943613.5
#Pets               2590665.5
#Recipe             2428356.5
#Relatable          3686180.5
#Skincare           2039677.0
#Sports             2969680.0
#Streamer           1906660.5
#StreetFood         2481790.5
#StudyWithMe        2907923.5
#Tech               2712816.5
#Travel             2628352.0
#Wanderlust         2744015.5
#Workout            2569061.5
Name: likes, dtype: float64

#### This shows the average likes for each hashtag

In [14]:
df.groupby("hashtag")["likes"].agg(["mean","median","sum"])

                       mean      median       sum
hashtag
#AI               2983772.5   2983772.5   5967545
#Beauty           2068881.0   2068881.0   4137762
#BookTok          2861700.0   2861700.0   5723400
#CatTok           2632237.0   2632237.0   5264474
#Coding           2635742.0   2635742.0   5271484
#Comedy           3780578.0   3780578.0   7561156
#Cover            3427660.5   3427660.5   6855321
#Crafts            230153.0    230153.0    460306
#DIY               177806.5    177806.5    355613
#Dance            3531113.5   3531113.5   7062227
#DanceChallenge   3585932.0   3585932.0   7171864
#DogTok           2813133.5   2813133.5   5626267
#Esports          2221719.0   2221719.0   4443438
#FYP             35204071.5  35204071.5  70408143
#Fashion          2781766.0   2781766.0   5563532
#Foodie           2684837.0   2684837.0   5369674
#Football         2839858.0   2839858.0   5679716
#GRWM             5097642.0   5097642.0  10195284
#GameClip         2570420.5   2570420.5   5140841
#Gaming           2306177.5   2306177.5   4612355
#HiddenGems       2600835.0   2600835.0   5201670
#LearnOnTikTok    2758399.5   2758399.5   5516799
#LifeHacks         209629.0    209629.0    419258
#Lifestyle        3665840.5   3665840.5   7331681
#Makeup           2368116.0   2368116.0   4736232
#MorningRoutine   3497703.5   3497703.5   6995407
#Motivation       2743032.5   2743032.5   5486065
#Music            3724578.5   3724578.5   7449157
#OOTD             2943613.5   2943613.5   5887227
#Pets             2590665.5   2590665.5   5181331
#Recipe           2428356.5   2428356.5   4856713
#Relatable        3686180.5   3686180.5   7372361
#Skincare         2039677.0   2039677.0   4079354
#Sports           2969680.0   2969680.0   5939360
#Streamer         1906660.5   1906660.5   3813321
#StreetFood       2481790.5   2481790.5   4963581
#StudyWithMe      2907923.5   2907923.5   5815847
#Tech             2712816.5   2712816.5   5425633
#Travel           2628352.0   2628352.0   5256704
#Wanderlust       2744015.5   2744015.5   5488031
#Workout          2569061.5   2569061.5   5138123